In [1]:
from openpyxl import Workbook

In [2]:
wb = Workbook()

In [3]:
ws = wb.active

# Adding data to Worksheet

In [4]:
Fruits_data = [["Fruit","Quantity"],["Apple",10],["Banana",5],["Apple",15],["Orange",20],["Banana",10]]

Appending data to Workbook

In [5]:
for i in Fruits_data:
  ws.append(i)

In [19]:
wb.save("/content/drive/MyDrive/Colab Notebooks/ml collections/FruitsData.xlsx")

In [16]:
from openpyxl.styles import Font,PatternFill

# Applying styles to the text

In [17]:
ft = Font(bold=True,color="800080")
fill = PatternFill(fill_type="solid",start_color="C0C0C0",end_color="00FF00")

In [18]:
for col in ws["A1:B1"]:
  for cell in col:
    cell.font=ft
    cell.fill=fill

In [21]:
import pandas as pd
data = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/ml collections/FruitsData.xlsx")
data

    Fruit  Quantity
0   Apple        10
1  Banana         5
2   Apple        15
3  Orange        20
4  Banana        10

In [23]:
data.groupby(['Fruit']).sum()

        Quantity
Fruit
Apple         25
Banana        15
Orange        20